@model IEnumerable<Category>


<div class="text-center">
    <div class="display-6">Categories</div>

    <div class="d-flex justify-content-end my-3">
        <a class="btn btn-outline-success" asp-action="Create">
            <i class="fa fa-plus"></i> New Category
        </a>
    </div>

    <div class="row">

        <div class="col-md-9">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Category Id</th>
                        <th>Category Name</th>
                        <th>Products</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Category cat in Model)
                    {
                        <tr>
                            <td>@cat.CategoryId</td>
                            <td>@cat.CategoryName</td>
                            <td>
                                @foreach (Product prd in @ViewBag.Products)
                                {
                                    if (@cat.CategoryId == @prd.CategoryId)
                                    {
                                        @prd.ProductName <br />
                                    }
                                }

                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-warning" asp-action="Update" asp-route-id="@cat.CategoryId">
                                        <i class="fa fa-edit"></i>
                                        Edit</a>
                                    <!-- <a class="btn btn-info" target="_blank" asp-area="" asp-controller="Category" asp-action="Get" asp-route-id="@cat.CategoryId">
                                        <i class="fa fa-search"></i>
                                        Web</a> -->
                                        <!-- Bu serach web kısmını controller da handle edemediğim için henüz açamadım-->
                                </div>

                            </td>
                        </tr>
                   }


                </tbody>
            </table>

        </div>
    </div>


</div>